<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>imsdb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>imsdb.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>Oracle Datasource</description>
    <res-ref-name>jdbc/myoracle</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description>Logout user</description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>imsdb.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestSession</display-name>
    <servlet-name>TestSession</servlet-name>
    <servlet-class>imsdb.TestSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSession</servlet-name>
    <url-pattern>/TestSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_InvManagement</display-name>
    <servlet-name>Admin_InvManagement</servlet-name>
    <servlet-class>imsdb.Admin_InvManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_InvManagement</servlet-name>
    <url-pattern>/Admin_InvManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_AccManagement</display-name>
    <servlet-name>Admin_AccManagement</servlet-name>
    <servlet-class>imsdb.Admin_AccManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_AccManagement</servlet-name>
    <url-pattern>/Admin_AccManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_OrderManagement</display-name>
    <servlet-name>Admin_OrderManagement</servlet-name>
    <servlet-class>imsdb.Admin_OrderManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_OrderManagement</servlet-name>
    <url-pattern>/Admin_OrderManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_SupplierManagement</display-name>
    <servlet-name>Admin_SupplierManagement</servlet-name>
    <servlet-class>imsdb.Admin_SupplierManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_SupplierManagement</servlet-name>
    <url-pattern>/Admin_SupplierManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_BackToMain</display-name>
    <servlet-name>Admin_BackToMain</servlet-name>
    <servlet-class>imsdb.Admin_BackToMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_BackToMain</servlet-name>
    <url-pattern>/Admin_BackToMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Item_Search</display-name>
    <servlet-name>Item_Search</servlet-name>
    <servlet-class>imsdb.Item_Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Item_Search</servlet-name>
    <url-pattern>/Item_Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Item_Add</display-name>
    <servlet-name>Item_Add</servlet-name>
    <servlet-class>imsdb.Item_Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Item_Add</servlet-name>
    <url-pattern>/Item_Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Item_Modify</display-name>
    <servlet-name>Item_Modify</servlet-name>
    <servlet-class>imsdb.Item_Modify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Item_Modify</servlet-name>
    <url-pattern>/Item_Modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Item_Delete</display-name>
    <servlet-name>Item_Delete</servlet-name>
    <servlet-class>imsdb.Item_Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Item_Delete</servlet-name>
    <url-pattern>/Item_Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AbarcodeTest</display-name>
    <servlet-name>AbarcodeTest</servlet-name>
    <servlet-class>imsdb.AbarcodeTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbarcodeTest</servlet-name>
    <url-pattern>/AbarcodeTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Item_Add_Create_Servlet</display-name>
    <servlet-name>Item_Add_Create_Servlet</servlet-name>
    <servlet-class>imsdb.Item_Add_Create_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Item_Add_Create_Servlet</servlet-name>
    <url-pattern>/Item_Add_Create_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BarcodeDisplay_ItemCreated</display-name>
    <servlet-name>BarcodeDisplay_ItemCreated</servlet-name>
    <servlet-class>imsdb.BarcodeDisplay_ItemCreated</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BarcodeDisplay_ItemCreated</servlet-name>
    <url-pattern>/BarcodeDisplay_ItemCreated</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Item_Delete_Servlet</display-name>
    <servlet-name>Item_Delete_Servlet</servlet-name>
    <servlet-class>imsdb.Item_Delete_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Item_Delete_Servlet</servlet-name>
    <url-pattern>/Item_Delete_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemDisplay_ItemCreated</display-name>
    <servlet-name>ItemDisplay_ItemCreated</servlet-name>
    <servlet-class>imsdb.ItemDisplay_ItemCreated</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemDisplay_ItemCreated</servlet-name>
    <url-pattern>/ItemDisplay_ItemCreated</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Item_Modify_Servlet</display-name>
    <servlet-name>Item_Modify_Servlet</servlet-name>
    <servlet-class>imsdb.Item_Modify_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Item_Modify_Servlet</servlet-name>
    <url-pattern>/Item_Modify_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabseConnectionError_Servlet</display-name>
    <servlet-name>DatabseConnectionError_Servlet</servlet-name>
    <servlet-class>imsdb.DatabseConnectionError_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabseConnectionError_Servlet</servlet-name>
    <url-pattern>/DatabseConnectionError_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Item_Search_Servlet</display-name>
    <servlet-name>Item_Search_Servlet</servlet-name>
    <servlet-class>imsdb.Item_Search_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Item_Search_Servlet</servlet-name>
    <url-pattern>/Item_Search_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Item_Checkout</display-name>
    <servlet-name>Item_Checkout</servlet-name>
    <servlet-class>imsdb.Item_Checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Item_Checkout</servlet-name>
    <url-pattern>/Item_Checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Item_Checkout_Servlet</display-name>
    <servlet-name>Item_Checkout_Servlet</servlet-name>
    <servlet-class>imsdb.Item_Checkout_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Item_Checkout_Servlet</servlet-name>
    <url-pattern>/Item_Checkout_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Item_Return</display-name>
    <servlet-name>Item_Return</servlet-name>
    <servlet-class>imsdb.Item_Return</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Item_Return</servlet-name>
    <url-pattern>/Item_Return</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Item_Return_Servlet</display-name>
    <servlet-name>Item_Return_Servlet</servlet-name>
    <servlet-class>imsdb.Item_Return_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Item_Return_Servlet</servlet-name>
    <url-pattern>/Item_Return_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Item_Booked</display-name>
    <servlet-name>Item_Booked</servlet-name>
    <servlet-class>imsdb.Item_Booked</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Item_Booked</servlet-name>
    <url-pattern>/Item_Booked</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Item_Booked_Servlet</display-name>
    <servlet-name>Item_Booked_Servlet</servlet-name>
    <servlet-class>imsdb.Item_Booked_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Item_Booked_Servlet</servlet-name>
    <url-pattern>/Item_Booked_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_Alerts</display-name>
    <servlet-name>Admin_Alerts</servlet-name>
    <servlet-class>imsdb.Admin_Alerts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Alerts</servlet-name>
    <url-pattern>/Admin_Alerts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_OrderPlace</display-name>
    <servlet-name>Admin_OrderPlace</servlet-name>
    <servlet-class>imsdb.Admin_OrderPlace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_OrderPlace</servlet-name>
    <url-pattern>/Admin_OrderPlace</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_OrderPlace_Servlet</display-name>
    <servlet-name>Admin_OrderPlace_Servlet</servlet-name>
    <servlet-class>imsdb.Admin_OrderPlace_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_OrderPlace_Servlet</servlet-name>
    <url-pattern>/Admin_OrderPlace_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_OrderSearch</display-name>
    <servlet-name>Admin_OrderSearch</servlet-name>
    <servlet-class>imsdb.Admin_OrderSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_OrderSearch</servlet-name>
    <url-pattern>/Admin_OrderSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_OrderSearch_Servlet</display-name>
    <servlet-name>Admin_OrderSearch_Servlet</servlet-name>
    <servlet-class>imsdb.Admin_OrderSearch_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_OrderSearch_Servlet</servlet-name>
    <url-pattern>/Admin_OrderSearch_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_OrderPending</display-name>
    <servlet-name>Admin_OrderPending</servlet-name>
    <servlet-class>imsdb.Admin_OrderPending</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_OrderPending</servlet-name>
    <url-pattern>/Admin_OrderPending</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_OrderPending_Servlet</display-name>
    <servlet-name>Admin_OrderPending_Servlet</servlet-name>
    <servlet-class>imsdb.Admin_OrderPending_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_OrderPending_Servlet</servlet-name>
    <url-pattern>/Admin_OrderPending_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Faculty_Item_Search</display-name>
    <servlet-name>Faculty_Item_Search</servlet-name>
    <servlet-class>imsdb.Faculty_Item_Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faculty_Item_Search</servlet-name>
    <url-pattern>/Faculty_Item_Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Faculty_Item_Search_Servlet</display-name>
    <servlet-name>Faculty_Item_Search_Servlet</servlet-name>
    <servlet-class>imsdb.Faculty_Item_Search_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faculty_Item_Search_Servlet</servlet-name>
    <url-pattern>/Faculty_Item_Search_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Faculty_BackToMain</display-name>
    <servlet-name>Faculty_BackToMain</servlet-name>
    <servlet-class>imsdb.Faculty_BackToMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faculty_BackToMain</servlet-name>
    <url-pattern>/Faculty_BackToMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Faculty_Item_Booked</display-name>
    <servlet-name>Faculty_Item_Booked</servlet-name>
    <servlet-class>imsdb.Faculty_Item_Booked</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faculty_Item_Booked</servlet-name>
    <url-pattern>/Faculty_Item_Booked</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Faculty_Item_Booked_Servlet</display-name>
    <servlet-name>Faculty_Item_Booked_Servlet</servlet-name>
    <servlet-class>imsdb.Faculty_Item_Booked_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faculty_Item_Booked_Servlet</servlet-name>
    <url-pattern>/Faculty_Item_Booked_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Faculty_OrderPlace</display-name>
    <servlet-name>Faculty_OrderPlace</servlet-name>
    <servlet-class>imsdb.Faculty_OrderPlace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faculty_OrderPlace</servlet-name>
    <url-pattern>/Faculty_OrderPlace</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Faculty_OrderPlace_Servlet</display-name>
    <servlet-name>Faculty_OrderPlace_Servlet</servlet-name>
    <servlet-class>imsdb.Faculty_OrderPlace_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faculty_OrderPlace_Servlet</servlet-name>
    <url-pattern>/Faculty_OrderPlace_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student_Item_Search</display-name>
    <servlet-name>Student_Item_Search</servlet-name>
    <servlet-class>imsdb.Student_Item_Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student_Item_Search</servlet-name>
    <url-pattern>/Student_Item_Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student_Item_Search_Servlet</display-name>
    <servlet-name>Student_Item_Search_Servlet</servlet-name>
    <servlet-class>imsdb.Student_Item_Search_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student_Item_Search_Servlet</servlet-name>
    <url-pattern>/Student_Item_Search_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student_BackToMain</display-name>
    <servlet-name>Student_BackToMain</servlet-name>
    <servlet-class>imsdb.Student_BackToMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student_BackToMain</servlet-name>
    <url-pattern>/Student_BackToMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student_Item_Booked</display-name>
    <servlet-name>Student_Item_Booked</servlet-name>
    <servlet-class>imsdb.Student_Item_Booked</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student_Item_Booked</servlet-name>
    <url-pattern>/Student_Item_Booked</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student_Item_Booked_Servlet</display-name>
    <servlet-name>Student_Item_Booked_Servlet</servlet-name>
    <servlet-class>imsdb.Student_Item_Booked_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student_Item_Booked_Servlet</servlet-name>
    <url-pattern>/Student_Item_Booked_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_AccountChecking</display-name>
    <servlet-name>Admin_AccountChecking</servlet-name>
    <servlet-class>imsdb.Admin_AccountChecking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_AccountChecking</servlet-name>
    <url-pattern>/Admin_AccountChecking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_AddItemToSupplier</display-name>
    <servlet-name>Admin_AddItemToSupplier</servlet-name>
    <servlet-class>imsdb.Admin_AddItemToSupplier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_AddItemToSupplier</servlet-name>
    <url-pattern>/Admin_AddItemToSupplier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_AddNewCampus</display-name>
    <servlet-name>Admin_AddNewCampus</servlet-name>
    <servlet-class>imsdb.Admin_AddNewCampus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_AddNewCampus</servlet-name>
    <url-pattern>/Admin_AddNewCampus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_AddNewEmployee</display-name>
    <servlet-name>Admin_AddNewEmployee</servlet-name>
    <servlet-class>imsdb.Admin_AddNewEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_AddNewEmployee</servlet-name>
    <url-pattern>/Admin_AddNewEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_AddNewProgram</display-name>
    <servlet-name>Admin_AddNewProgram</servlet-name>
    <servlet-class>imsdb.Admin_AddNewProgram</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_AddNewProgram</servlet-name>
    <url-pattern>/Admin_AddNewProgram</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_AddNewStudent</display-name>
    <servlet-name>Admin_AddNewStudent</servlet-name>
    <servlet-class>imsdb.Admin_AddNewStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_AddNewStudent</servlet-name>
    <url-pattern>/Admin_AddNewStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_AddNewSupplier</display-name>
    <servlet-name>Admin_AddNewSupplier</servlet-name>
    <servlet-class>imsdb.Admin_AddNewSupplier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_AddNewSupplier</servlet-name>
    <url-pattern>/Admin_AddNewSupplier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_CampusAccountModify</display-name>
    <servlet-name>Admin_CampusAccountModify</servlet-name>
    <servlet-class>imsdb.Admin_CampusAccountModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_CampusAccountModify</servlet-name>
    <url-pattern>/Admin_CampusAccountModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_CampusAdd</display-name>
    <servlet-name>Admin_CampusAdd</servlet-name>
    <servlet-class>imsdb.Admin_CampusAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_CampusAdd</servlet-name>
    <url-pattern>/Admin_CampusAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_CampusMenu</display-name>
    <servlet-name>Admin_CampusMenu</servlet-name>
    <servlet-class>imsdb.Admin_CampusMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_CampusMenu</servlet-name>
    <url-pattern>/Admin_CampusMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_CampusModify</display-name>
    <servlet-name>Admin_CampusModify</servlet-name>
    <servlet-class>imsdb.Admin_CampusModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_CampusModify</servlet-name>
    <url-pattern>/Admin_CampusModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_DeleteAccountChecking</display-name>
    <servlet-name>Admin_DeleteAccountChecking</servlet-name>
    <servlet-class>imsdb.Admin_DeleteAccountChecking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_DeleteAccountChecking</servlet-name>
    <url-pattern>/Admin_DeleteAccountChecking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_EmployeeAccountChecking</display-name>
    <servlet-name>Admin_EmployeeAccountChecking</servlet-name>
    <servlet-class>imsdb.Admin_EmployeeAccountChecking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_EmployeeAccountChecking</servlet-name>
    <url-pattern>/Admin_EmployeeAccountChecking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_EmployeeAccountModify</display-name>
    <servlet-name>Admin_EmployeeAccountModify</servlet-name>
    <servlet-class>imsdb.Admin_EmployeeAccountModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_EmployeeAccountModify</servlet-name>
    <url-pattern>/Admin_EmployeeAccountModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_EmployeeAdd</display-name>
    <servlet-name>Admin_EmployeeAdd</servlet-name>
    <servlet-class>imsdb.Admin_EmployeeAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_EmployeeAdd</servlet-name>
    <url-pattern>/Admin_EmployeeAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_EmployeeMenu</display-name>
    <servlet-name>Admin_EmployeeMenu</servlet-name>
    <servlet-class>imsdb.Admin_EmployeeMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_EmployeeMenu</servlet-name>
    <url-pattern>/Admin_EmployeeMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_EmployeeModify</display-name>
    <servlet-name>Admin_EmployeeModify</servlet-name>
    <servlet-class>imsdb.Admin_EmployeeModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_EmployeeModify</servlet-name>
    <url-pattern>/Admin_EmployeeModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_ItemToSupplier</display-name>
    <servlet-name>Admin_ItemToSupplier</servlet-name>
    <servlet-class>imsdb.Admin_ItemToSupplier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_ItemToSupplier</servlet-name>
    <url-pattern>/Admin_ItemToSupplier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_ProgramAccountModify</display-name>
    <servlet-name>Admin_ProgramAccountModify</servlet-name>
    <servlet-class>imsdb.Admin_ProgramAccountModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_ProgramAccountModify</servlet-name>
    <url-pattern>/Admin_ProgramAccountModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_ProgramAdd</display-name>
    <servlet-name>Admin_ProgramAdd</servlet-name>
    <servlet-class>imsdb.Admin_ProgramAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_ProgramAdd</servlet-name>
    <url-pattern>/Admin_ProgramAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_ProgramMenu</display-name>
    <servlet-name>Admin_ProgramMenu</servlet-name>
    <servlet-class>imsdb.Admin_ProgramMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_ProgramMenu</servlet-name>
    <url-pattern>/Admin_ProgramMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_ProgramModify</display-name>
    <servlet-name>Admin_ProgramModify</servlet-name>
    <servlet-class>imsdb.Admin_ProgramModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_ProgramModify</servlet-name>
    <url-pattern>/Admin_ProgramModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_SearchCampus</display-name>
    <servlet-name>Admin_SearchCampus</servlet-name>
    <servlet-class>imsdb.Admin_SearchCampus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_SearchCampus</servlet-name>
    <url-pattern>/Admin_SearchCampus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_SearchEmployee</display-name>
    <servlet-name>Admin_SearchEmployee</servlet-name>
    <servlet-class>imsdb.Admin_SearchEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_SearchEmployee</servlet-name>
    <url-pattern>/Admin_SearchEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_SearchProgram</display-name>
    <servlet-name>Admin_SearchProgram</servlet-name>
    <servlet-class>imsdb.Admin_SearchProgram</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_SearchProgram</servlet-name>
    <url-pattern>/Admin_SearchProgram</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_SearchStudent</display-name>
    <servlet-name>Admin_SearchStudent</servlet-name>
    <servlet-class>imsdb.Admin_SearchStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_SearchStudent</servlet-name>
    <url-pattern>/Admin_SearchStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_StudentAccountModify</display-name>
    <servlet-name>Admin_StudentAccountModify</servlet-name>
    <servlet-class>imsdb.Admin_StudentAccountModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_StudentAccountModify</servlet-name>
    <url-pattern>/Admin_StudentAccountModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_StudentAdd</display-name>
    <servlet-name>Admin_StudentAdd</servlet-name>
    <servlet-class>imsdb.Admin_StudentAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_StudentAdd</servlet-name>
    <url-pattern>/Admin_StudentAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_StudentMenu</display-name>
    <servlet-name>Admin_StudentMenu</servlet-name>
    <servlet-class>imsdb.Admin_StudentMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_StudentMenu</servlet-name>
    <url-pattern>/Admin_StudentMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_StudentModify</display-name>
    <servlet-name>Admin_StudentModify</servlet-name>
    <servlet-class>imsdb.Admin_StudentModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_StudentModify</servlet-name>
    <url-pattern>/Admin_StudentModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_SupplierAccountModify</display-name>
    <servlet-name>Admin_SupplierAccountModify</servlet-name>
    <servlet-class>imsdb.Admin_SupplierAccountModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_SupplierAccountModify</servlet-name>
    <url-pattern>/Admin_SupplierAccountModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_SupplierAdd</display-name>
    <servlet-name>Admin_SupplierAdd</servlet-name>
    <servlet-class>imsdb.Admin_SupplierAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_SupplierAdd</servlet-name>
    <url-pattern>/Admin_SupplierAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_SupplierConfirmDelete</display-name>
    <servlet-name>Admin_SupplierConfirmDelete</servlet-name>
    <servlet-class>imsdb.Admin_SupplierConfirmDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_SupplierConfirmDelete</servlet-name>
    <url-pattern>/Admin_SupplierConfirmDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_SupplierDelete</display-name>
    <servlet-name>Admin_SupplierDelete</servlet-name>
    <servlet-class>imsdb.Admin_SupplierDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_SupplierDelete</servlet-name>
    <url-pattern>/Admin_SupplierDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_SupplierModify</display-name>
    <servlet-name>Admin_SupplierModify</servlet-name>
    <servlet-class>imsdb.Admin_SupplierModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_SupplierModify</servlet-name>
    <url-pattern>/Admin_SupplierModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_ItemBarcode</display-name>
    <servlet-name>Admin_ItemBarcode</servlet-name>
    <servlet-class>imsdb.Admin_ItemBarcode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_ItemBarcode</servlet-name>
    <url-pattern>/Admin_ItemBarcode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_ItemBarcode_Servlet</display-name>
    <servlet-name>Admin_ItemBarcode_Servlet</servlet-name>
    <servlet-class>imsdb.Admin_ItemBarcode_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_ItemBarcode_Servlet</servlet-name>
    <url-pattern>/Admin_ItemBarcode_Servlet</url-pattern>
  </servlet-mapping>
</web-app>